.multiselect {
  --ms-bg: var(--bg-control);
  --ms-bg-disabled: var(--text-disabled);
  --ms-border-color: var(--text-caption);
  --ms-border-color-active: var(--text-primary);
  --ms-ring-width: 0;
  --ms-ring-color: transparent;
  --ms-color: var(--text-primary);
  --ms-placeholder-color: var(--text-disabled);
  --ms-caret-color: var(--text-secondary);
  --ms-clear-color: var(--text-secondary);
  --ms-spinner-color: var(--primary);
  --ms-font-size: #{$input-font-size};
  --ms-radius: #{$border-radius};
  --ms-py: #{$input-padding-y};
  --ms-px: #{$input-padding-x};

  --ms-dropdown-bg: var(--bg-primary);
  --ms-dropdown-border-color: var(--bg-primary);
  --ms-dropdown-radius: #{$border-radius};

  --ms-option-font-size: #{$input-font-size};
  --ms-option-bg-pointed: var(--shade);
  --ms-option-color-pointed: var(--text-primary);
  --ms-option-bg-selected: var(--shade);
  --ms-option-color-selected: var(--text-primary);
  --ms-option-bg-selected-pointed: var(--shade);
  --ms-option-color-selected-pointed: var(--text-primary);

  --ms-tag-bg: #{$green};
  --ms-tag-color: var(--text-primary);

  --ms-empty-color: var(--text-disabled);

  color: var(--text-primary) !important;
  min-height: $input-height !important;
}

.multiselect-dropdown {
  box-shadow: $box-shadow-2;
  background-color: var(--bg-primary) !important;
  z-index: 100;
}

.multiselect-option {
  background-color: transparent;

  &.is-pointed {
    background-color: var(--shade) !important;
  }

  &.is-selected {
    background-color: var(--shade) !important;
  }
}

.multiselect-search {
  background: var(--bg-control) !important;
  color: var(--text-primary) !important;
}

.multiselect--form-control {
  .multiselect {
    --ms-py: #{$input-padding-y};
    --ms-px: #{$input-padding-x};
  }
}

.multiselect--capitalize {
  .multiselect-option,
  .multiselect-single-label-text {
    text-transform: capitalize;
  }
}

.multiselect--primary {
  .multiselect {
    --ms-bg: var(--primary);
    --ms-border-color: var(--primary);
    --ms-color: var(--bg-primary);
    --ms-caret-color: var(--bg-primary);
  }
}

.multiselect--disabled {
  opacity: 1 !important;
}
